@import url('reset.css');
@import url('typography.css');
@import url('ui.css');


/**************************************************************
 * Global Styles
 **************************************************************/

* {
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

body {
	
}

img {
	width:100%;
}

#wrapper {
	max-width:1024px;
	margin:0 auto;
	padding: 20px;
}

/**************************************************************
 * Header
 **************************************************************/

header,
nav {
	width:100%;
}

/**************************************************************
 * Main Content
 **************************************************************/
#main {
	width:100%;
}

/**************************************************************
 * Media Queries
 **************************************************************/

@media screen and (min-width: 1024px) {
  
	

}

@media screen and (max-width: 1023px) {
  
  	

}

@media screen and (max-width: 650px) {
  
	

}

@media screen and (max-width: 480px) {
  	
  	

}