body {
	font:14px/18px Arial, Helvetica, sans-serif;
	color:#555;
}

h1, h2, h3, h4, h5, h6 {
	line-height:1.75em;
	font-weight:bold;
}

h1 {
	font-size:2.5em;
}

h2 {
	font-size:2em;
}

h3 {
	font-size:1.75em;
}

h4 {
	font-size:1.5em;
}

h5 {
	font-size:1.25em;
}

h6 {
	font-size:1em;
}

p {
	margin-bottom:20px;
}

hr {
	margin:15px 0;
	border-style: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
